@import "tailwindcss";

* {
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
}

.bg-semi-trans {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent */
}

.links {
    cursor: pointer;
    a:hover {
        color: var(--color-blue-400);
    }
}

.icon div {
    font-weight: bolder;
}

@layer base {
    .row_table {
        font-weight: var(--font-weight-medium);
        font-size: var(--text-sm);
        line-height: var(--text-sm--line-height);
        color: var(--color-gray-900);
        padding-block: calc(var(--spacing) * 4);
        padding-inline: calc(var(--spacing) * 3);
    }
}
